<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto">
            <div class="bg-white p-5 rounded shadow">
                <h1>Summary</h1>
                <div class="text-justify">
                    <p style="font-size: 18px">{{summary}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
